* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
}