* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.list-title {
  text-align: center;
  margin-top: 2rem;
}

.char-list {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 2rem;
  gap: 1rem;

}